<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">

<h1 class="mb-4">Edit Pattern</h1>
<%= form_with(model: @pattern, class: "shadow-sm p-4 border rounded bg-light") do |form| %> 
        <% if @pattern.errors.any? %>
          <div class="errors" role="alert">
            <h5><%= pluralize(@pattern.errors.count, "error") %> stopped this pattern from saving:</h5>
            <ul class="mb-0">
              <% @pattern.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
    
    <div class="mb-3">
        <%= form.label :pattern_name, "Pattern Name", style: "display: block", class:"form-label fw-bold" %>
        <%= form.text_field :pattern_name, class:"form-control", required:"true"%>
    </div>

    <div class="mb-3">
        <%= form.label :description, style: "display: block", class:"form-label fw-bold"%>
        <%= form.text_field :description, class:"form-control", placeholder:"Pattern description", required:"true" %>
    </div>

    <div class="mb-3">
        <%= form.label :item_category, "Item Category", style: "display: block", class:"form-label fw-bold"%>
        <%= form.text_field :item_category, class:"form-control", placeholder: "e.g. Hat, Scarf, Jumper", required:"true" %>
    </div>

    <fieldset class="mb-4">
    <legend class="form-label fw-bold h6">Difficulty Level</legend>
    <div class="d-flex flex-wrap gap-3">
        <% Pattern.levels.keys.each do |level|%>
            <div class="form-check">
                <%= form.radio_button :level, level, class: "form-check-input"%>
                <%= form.label "level_#{level}", level.humanize, class: "form-check-label", required:"true" %>
            </div>
        <% end %>
    </div>
    </fieldset>

    <div class="mb-4">
        <%= form.label :pattern_pdf, "Pattern PDF Upload", class:"form-label fw-bold", id:"formFile"%> 
        <br>
        <%= form.label :pattern_pdf, "Only PDF files are accepted",class:"form-text"%>
        <%= form.file_field :pattern_pdf, class:"form-control", accept: "application/pdf"%> 
    </div>
    <br>

    <div class="d-grid gap-2">
        <%= form.submit class:"btn btn-secondary btn-lg"%>
    </div>
<% end %>

<br>

<div>
 <%= link_to "Back to home", root_path, class:"text-primary fw-semibold" %>
</div>

</div>
  </div>
</div>