<h1 class="display-5 text-center my-6 fw-bold mb-3 border-bottom">All Patterns</h1>
<div class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2">
  <% @patterns.each do |pattern| %>
    <div class="col d-flex align-items-stretch">
      <div class="card text-center border border-secondary shadow-sm w-100">
        <% if pattern.pattern_pdf.attached? && pattern.pattern_pdf.previewable? %>
          <div class="card-img-top p-3">
            <%= image_tag pattern.pattern_pdf.preview(resize_to_fill:[400,300]).processed,
                class: "img-fluid w-100 rounded", 
                alt: "Preview of #{pattern.pattern_name}" %>
          </div>
        <% else %>
          <div class="p-3">
            <div class="bg-light text-center py-5 border rounded">
              <span class="text-muted">No Preview Available</span>
            </div>
          </div>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= pattern.pattern_name%></h5>
          <p class="card-text">
            <small class="text-muted">
              Category: <%= pattern.item_category%> <br>
              Level: <%= pattern.level.humanize%>
            </small>
          </p>
        </div>
        <div class="card-footer bg-transparent border-top-0 pb-3">
            <div class="d-grid gap-2">
              <%= link_to "View", pattern_path(pattern), method: :show, class:"btn btn-outline-primary"%>
            </div>
        </div>
      </div>
    </div>
 <% end %>
 </div>
</div>